version: "3.8"

services:
  api-gateway:
    build:
      context: ../../api-gateway
      dockerfile: ../../api-gateway/docker/Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000"
    env_file:
      - ../../api-gateway/.env
    depends_on:
      - auth-service
      - template-service
      - plan-service
    restart: always

  auth-service:
    build:
      context: ../../services/auth-service
      dockerfile: ../../services/auth-service/docker/Dockerfile
    container_name: auth-service
    ports:
      - "3001:3001"
    env_file:
      - ../../services/auth-service/.env
    restart: always

  template-service:
    build:
      context: ../../services/template-service
      dockerfile: ../../services/template-service/docker/Dockerfile
    container_name: template-service
    ports:
      - "3002:3002"
    env_file:
      - ../../services/template-service/.env
    restart: always

  plan-service:
    build:
      context: ../../services/plan-service
      dockerfile: ../../services/plan-service/docker/Dockerfile
    container_name: plan-service
    ports:
      - "3003:3003"
    env_file:
      - ../../services/plan-service/.env
    restart: always
